* 
{
    direction: rtl !important;
}

body { margin:0; padding:0; width:100%; background:#ededed url(../images/bg.jpg) top repeat-x;}
html { padding:0; margin:0;}

/* main */
.main {width:100%; padding:0; margin:0 auto; }
.resize { margin:0 auto;}

/********** header **********/
.header {  background:rgb(128,128,255); border-bottom:5px solid #fff; min-height:100px;}

.block_header {margin:0 auto;  }
.top_menu { float:right; padding:4px 10px; font:normal 11px Tahoma, Geneva, sans-serif; color:#4e4e4e; line-height:1.6em;}
.top_menu a { font:normal 11px Tahoma, Geneva, sans-serif; color:#4e4e4e; text-decoration:none;}
.top_menu a:hover {text-decoration:underline;}

/* logo */
.logo { float:right; padding:0; margin:0; width:181px;}

/********** block index **********/
.body { background:#e8e8e8; border:0; border-top:1px solid #f2f2f2; border-bottom:1px solid #fbfbfb;}
.body h2 { font:normal 18px Arial, Helvetica, sans-serif; color:#2c2c2c;}
.body p { font:normal 11px Arial, Helvetica, sans-serif; color:#2c2c2c; line-height:1.8em;}
.body_resize { margin:10px auto; padding:0;}
/*Welcome*/
.Welcome { border:1px solid #d5d5d5; background:#eeeeee; margin:5px auto; padding:10px 20px; float:left;}
.Welcome ul { list-style:none; border:5px solid #e5e5e5; background:#f8f8f8; margin:20px auto; padding:10px;}
.Welcome li { background:url(../images/ul_lu_bg.gif) left no-repeat; padding:5px 0 5px 30px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#6e6e6e; line-height:1.8em;}
.Welcome li strong { color:#a63812; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
/*Services*/
.Services { border:1px solid #d5d5d5; background:#eeeeee; margin:5px auto; padding:10px 20px; float:left;}
.Services ul { list-style:none; border:5px solid #e5e5e5; background:#f8f8f8; margin:20px auto 20px auto; padding:10px 10px;}
.Services li { padding:5px 0 5px 30px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#6e6e6e; line-height:1.8em;}
.Services li strong { color:#292929; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em;}
.Services img { float:left; margin:10px 10px; padding:0;}
.Services h3 {background:url(../images/ul_lu_bg.gif) left no-repeat; font:normal 18px Arial, Helvetica, sans-serif; color:#2c2c2c; padding:0 0 0 20px; margin:0;}
.Services a { font:normal 12px Arial, Helvetica, sans-serif; color:#2d2d2d; background:#d8d8d8; border:1px solid #fff; text-decoration:none; text-transform:uppercase; padding:4px 4px; margin:0;}
/*BoX*/
.Box { border:1px solid #d5d5d5; background:#eeeeee; margin: 5px auto; padding:10px 20px; float: right;}
.Box a { background:url(../images/link_NEWS.gif) left no-repeat; padding:0 0 0 20px; font: bold  11px Arial, Helvetica, sans-serif; color:#a22d05;}
.Box span { font:bold 11px Arial, Helvetica, sans-serif; color:#959595;}

.FBG { border-top:8px solid #fff; background:#727272; border-bottom:1px solid #cfcfcf;}
.FBG h2 { font:normal 18px Arial, Helvetica, sans-serif; color:#fffaf7; border-bottom:1px dashed #ffffff; padding:8px 5px; margin:0;}
.FBG p { font:normal 11px Arial, Helvetica, sans-serif; color:#e8e8e8; line-height:1.8em;}
.FBG_resize { margin:10px auto; padding:0; }
.fbg_box { float:right; padding:5px 5px;}
/********** footer **********/
.footer { background:#dedede; padding:20px 0; border-top:1px solid #7a7a7a;}
.footer .resize div { float:left; width:49%; color:#363636; font:normal 11px Arial, Helvetica, sans-serif;}
.footer .resize div a { color:#363636; font:normal 11px Arial, Helvetica, sans-serif; padding:0 5px; text-decoration:none;}
.footer .resize div a:hover { text-decoration:underline;}
.text_left { text-align:right;}

li.bg, .bg { clear:both; border-top:1px dashed #d2d2d2; padding:5px 10px; margin:0; background:none;}
p.clr, .clr, li.clr { clear:both; padding:0; margin:0; background:none;}





.input-group 
{
    margin-bottom:5px;
    width:100%;
}

.input-group-addon 
{
    width:100px;
  /*  background-color:lightgreen; */
}

.table th 
{
    background-color:#6CF !important;
    color:#222;
}


@media print 
{
    .noprint 
    {
        display:none;
    }
    
    .glyphicon-edit, .glyphicon-trash 
    {
        display:none;
    }   
}





